<center>
        <h1>Portfolio items</h1>
                                </center>

    <% @portfolio_items.each do |p| %>
          <p><%= p.title %> </p>
          <p><%= p.subtitle %> </p>
          <p><%= p.body %> </p>
          <p><%= image_tag p.thumb_image unless p.thumb_image.nil? %> </p>
    <% end %>
